<!DOCTYPE html>
<html>
<head>
    <title><%= title %></title>
    <link type="text/css" rel="stylesheet"href="/stylesheets/bootstrap.min.css">
    <link type="text/css" rel="stylesheet"href="/stylesheets/"/>
</head>

<nav clas="navbar navbar-default">
    <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/Me">Me</a> </li>
        <li><a href="/father">My Father</a> </li>
        <li><a href="/mother">My Mother</a> </li>
        <li><a href="/brother">Brother</a> </li>
        <li><a href="/sister">Sister</a> </li>
    </ul>
</nav>
</html>